.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .article {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 5px;
  }
  
  .details {
    margin-bottom: 20px;
  }
  
  h1 {
    font-size: 24px;
    color: #333;
  }
  
  p {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
  }
  
  .btn-primary {
    background-color: blue;
    color: #fff;
    float: right;
  }
  