<div *ngIf="order" class="order-details">
  <h1 class="mb-4">Récapitulatif de la commande</h1>
  <p><strong>Numéro de commande :</strong> {{ order.orderNumber }}</p>
  <p><strong>Date de commande :</strong> {{ order.orderDate | date }}</p>
  <p><strong>Utilisateur :</strong> {{ order.user?.name }}</p>

  <h2 class="mt-4">Livres commandés :</h2>
  <ul class="list-group">
    <li *ngFor="let orderline of order['orderlines']" class="list-group-item">
      <div class="media">
        <img [src]="orderline.book?.image" alt="Image du livre" class="mr-3 img-fluid" id="image-card">
        <div class="media-body">
          <h5 class="mt-0">{{ orderline.book?.titre }}</h5>
          <p class="mb-1">Prix : {{ getPrice(orderline) }} €</p>
          <p class="mb-1">Quantité : {{ orderline.quantity }}</p>
          <!-- Ajoutez d'autres informations spécifiques au livre si nécessaire -->
        </div>
      </div>
    </li>
  </ul>
  <p class="mt-3"><strong>Prix Total de la commande :</strong> {{ total }} €</p>
</div>
