  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <div class="position-relative"></div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" class="nav-link" routerLink="/books">L2I</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <a class="nav-link" routerLink="/cart"><i class="fa-solid fa-cart-shopping"></i></a>
      </ul>
    </div>
  </nav>
  

  <div *ngIf="user" class="user-info">
    <h2 class="welcome-msg">Bienvenue dans votre espace, <span class="user-name">{{ user.firstname | uppercase }} {{ user.name | uppercase }}</span></h2>
    <p><strong>Email:</strong> <span class="user-email"><br>{{ user.email }}</span></p>
    <p><strong>Rôle:</strong> <span class="user-role"><br>{{ authService.getRoleFormat() }}</span></p>
  </div>
  

    <!-- Autres informations du compte utilisateur -->

    <h3>Historique des commandes</h3>
      <div class="container">
      <div class="row d-flex justify-content-center">
      <div class="card my-3 mx-3" *ngFor="let order of orders;let i = index">
      <strong><p class="numero text-warning">Numéro de commande : {{ order.orderNumber }}</p></strong>
        <p>Date de commande : {{ order.orderDate | date }}</p>
        <ul>
          <li *ngFor="let orderline of order.orderlines; ">
           <strong><p class="titre">Titre du livre : {{ orderline.book?.titre }}</p></strong>
            <p class="auteur text-secondary">Auteur : {{ orderline.book?.author }}</p>
            <!-- Autres détails du livre -->
            <img [src]="orderline.book?.image" alt="Image du livre">
            <strong> <p class="prix">Prix TTC: {{ getPrice(orderline)}}€</p></strong>
            
          </li>
        </ul>
        <!-- <span>{{ total_array_[i] }}</span> -->
      </div>
      </div>
    </div>
  