<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


<div class="login-container">
  <h2>Créer un compte</h2>

  <form (ngSubmit)="onRegister()" #registerForm="ngForm">
    <div class="form-group">
      <label for="nom">Nom :</label>
      <input type="text" id="nom" class="form-control" [(ngModel)]="name" name="nom" required>
    </div>
    <div class="form-group">
      <label for="prenom">Prénom :</label>
      <input type="text" id="prenom" class="form-control" [(ngModel)]="firstname" name="prenom" required>
    </div>
    <div class="form-group">
      <label for="email">Email :</label>
      <input type="email" id="email" class="form-control" [(ngModel)]="email" name="email" required email>
      <div *ngIf="registerForm.controls['email'].invalid" class="text-danger">
        L'adresse e-mail est invalide.
      </div>
    </div>
    <div class="form-group">
      <label for="password">Mot de passe :</label>
      <input type="password" id="password" class="form-control" [(ngModel)]="password" name="password" required minlength="8">
      <div *ngIf="registerForm.controls['password'].invalid">
        <div *ngIf="registerForm.controls['password'].errors?.['required']" class="text-danger">
          Le mot de passe est requis.
        </div>
        <div *ngIf="registerForm.controls['password'].errors?.['minlength']" class="text-danger">
          Le mot de passe doit contenir au moins 8 caractères.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="confirmPassword">Confirmer le mot de passe :</label>
      <input type="password" id="confirmPassword" class="form-control" [(ngModel)]="confirmPassword" name="confirmPassword" required>
    </div>
    <div *ngIf="!registerForm.valid" class="text-danger">
      Impossible de créer le compte.
    </div>
    <button type="submit" class="btn btn-primary">Créer un compte</button>
  </form>
  <div class="drop drop-1"></div>
  <div class="drop drop-2"></div>
  <div class="drop drop-3"></div>
  <div class="drop drop-4"></div>
  <div class="drop drop-5"></div>
</div>
